/* src/styles/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Reddit Sans", sans-serif;
}

*::-webkit-scrollbar {
  display: none; 
}