@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Reddit Sans", sans-serif;
}

*::-webkit-scrollbar {
  display: none; 
}